DATABASE_URI=
PORT=4400
ADMIN_EMAIL=
ADMIN_PASSWORD_HASH=
JWT_SECRET=
CLIENT_ORIGIN=
STRIPE_SECRET_KEY= 
STRIPE_WEBHOOK_SECRET=
RESEND_API_KEY=
MAIL_FROM=
HOST_EMAIL=
CLOUDINARY_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=