@import "tailwindcss";

@layer base {
  body {
    @apply bg-cream text-ink font-body;
  }
}

@theme {
  --color-ink: #3a3036;
  --color-taupe: #d9ccc5;
  --color-cream: #fbf8f6;
  --color-line: #c4b3aa;
  --color-black: #000000;
  --font-display: "Cormorant Garamond", Georgia, serif;
  --font-body: "Open Sans", system-ui, sans-serif;
  --container-page: 1750px;
}
